[Desktop Entry]
Version=1.0
Type=Application
Name=Laboratorio ITMA II
GenericName=Sistema de Gestión de Laboratorio Químico
Comment=Control de reactivos, sustancias, materiales y préstamos de laboratorio
Exec=/opt/labkeep/labkeep
Icon=/opt/labkeep/static/img/icon.png
Terminal=false
Categories=Education;Science;Database;Office;
StartupNotify=true
StartupWMClass=labkeep
